<div th:fragment="form-detail">
    <form th:if="${formData != null}">
        <h6 class="form-label small text-muted fw-bold text-uppercase">1. Thông tin trẻ em</h6>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label class="form-label small">Họ và tên</label>
                <input type="text" class="form-control fw-bold"
                       th:value="${formData.childFullName}" readonly>
            </div>

            <div class="col-md-3">
                <label class="form-label small">Ngày sinh</label>
                <input type="date" class="form-control"
                       th:value="${formData.dateOfBirth != null ? #temporals.format(formData.dateOfBirth, 'yyyy-MM-dd') : ''}"
                       readonly>
            </div>

            <div class="col-md-3">
                <label class="form-label small">Giới tính</label>
                <input type="text" th:value="Nam" class="form-control" th:if="${formData.gender == 'MALE'}" readonly>
                <input type="text" th:value="Nữ" class="form-control" th:if="${formData.gender == 'FEMALE'}" readonly>
            </div>
            <div class="col-md-12">
                <label class="form-label small">Nơi sinh</label>
                <input type="text" class="form-control" th:value="${formData.placeOfBirth}" readonly>
            </div>
        </div>

        <h6 class="text-uppercase small fw-bold text-muted mb-3 border-bottom pb-2">2. Thông tin Mẹ</h6>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label class="form-label small">Họ và tên mẹ</label>
                <input type="text" class="form-control" th:value="${formData.motherFullName}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label small">Số CCCD/CMND</label>
                <input type="text" class="form-control" th:value="${formData.motherIdNumber}" readonly>
            </div>
        </div>

        <h6 class="text-uppercase small fw-bold text-muted mb-3 border-bottom pb-2">3. Thông tin Cha</h6>
        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label class="form-label small">Họ và tên cha</label>
                <input type="text" class="form-control" th:value="${formData.fatherFullName}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label small">Số CCCD/CMND</label>
                <input type="text" class="form-control" th:value="${formData.fatherIdNumber}" readonly>
            </div>
        </div>

        <h6 class="text-uppercase small fw-bold text-muted mb-3 border-bottom pb-2">4. Thông tin khác</h6>
        <div class="row g-3">
            <div class="col-md-12 mb-3">
                <label class="form-label small">Địa chỉ đăng ký thường trú</label>
                <input type="text" class="form-control" th:value="${formData.registeredAddress}" readonly>
            </div>
            <div class="col-md-12">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox"
                           th:checked="${formData.requestBhyt == true}" disabled>
                    <label class="form-check-label fw-semibold text-dark">
                        Yêu cầu cấp thẻ BHYT
                    </label>
                </div>
            </div>
        </div>

    </form>

    <div th:if="${formData == null}" class="alert alert-warning">
        Không có dữ liệu chi tiết cho tờ khai này.
    </div>
</div>