<div th:fragment="form-detail" class="document-preview font-times">
    <div class="text-center mb-4">
        <h6 class="fw-bold fs-5 mb-0">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h6>
        <div class="fw-bold small text-decoration-underline mb-4">Độc lập - Tự do - Hạnh phúc</div>

        <h3 class="fw-bold text-danger mb-4">GIẤY CHỨNG NHẬN KẾT HÔN</h3>
    </div>

    <div class="" style="line-height: 1.6; border: 5px double #dc3545; padding: 20px;">

        <div class="row">
            <!-- HUSBAND -->
            <div class="col-6 border-end">
                <div class="text-center fw-bold text-uppercase mb-3">Bên Vợ</div>
                <div class="mb-2">
                    Họ và tên: <br /> <span class="fw-bold text-uppercase text-primary fs-5"
                        th:text="${formData.wifeFullName}"></span>
                </div>
                <div class="mb-2">
                    Ngày sinh: <span class="fw-bold" th:text="${formData.wifeDob}"></span>
                </div>
                <div class="mb-2">
                    Dân tộc: <span class="fw-bold" th:text="${formData['wifeEthnicity'] ?: 'Kinh'}"></span>
                </div>
                <div class="mb-2">
                    Quốc tịch: <span class="fw-bold" th:text="${formData['wifeNationality'] ?: 'Việt Nam'}"></span>
                </div>
                <div class="mb-2">
                    Giấy tờ tùy thân: <br /> <span class="fw-bold" th:text="${formData.wifeIdNumber}"></span>
                </div>
                <div class="mb-2">
                    Nơi cư trú: <br /> <span class="fw-bold" th:text="${formData['wifeAddress'] ?: '...'}"></span>
                </div>
            </div>

            <!-- WIFE -->
            <div class="col-6">
                <div class="text-center fw-bold text-uppercase mb-3">Bên Chồng</div>
                <div class="mb-2">
                    Họ và tên: <br /> <span class="fw-bold text-uppercase text-primary fs-5"
                        th:text="${formData.husbandFullName}"></span>
                </div>
                <div class="mb-2">
                    Ngày sinh: <span class="fw-bold" th:text="${formData.husbandDob}"></span>
                </div>
                <div class="mb-2">
                    Dân tộc: <span class="fw-bold" th:text="${formData['husbandEthnicity'] ?: 'Kinh'}"></span>
                </div>
                <div class="mb-2">
                    Quốc tịch: <span class="fw-bold" th:text="${formData['husbandNationality'] ?: 'Việt Nam'}"></span>
                </div>
                <div class="mb-2">
                    Giấy tờ tùy thân: <br /> <span class="fw-bold" th:text="${formData.husbandIdNumber}"></span>
                </div>
                <div class="mb-2">
                    Nơi cư trú: <br /> <span class="fw-bold" th:text="${formData['husbandAddress'] ?: '...'}"></span>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-12 text-center">
                <div class="mb-4">
                    Nơi đăng ký kết hôn: <span class="fw-bold"
                        th:text="${formData['registrationType'] ?: 'Đăng ký'} + ' tại ' + ${formData.registeredPlace}"></span>
                </div>
                <div class="mb-4">
                    Ngày, tháng, năm đăng ký: <span class="fw-bold" th:text="${formData.intendedMarriageDate}"></span>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6 text-center">
                <div class="fw-bold mb-5">VỢ</div>
                <div class="fst-italic small mt-5">(Ký, ghi rõ họ tên)</div>
            </div>
            <div class="col-6 text-center">
                <div class="fw-bold mb-5">CHỒNG</div>
                <div class="fst-italic small mt-5">(Ký, ghi rõ họ tên)</div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <div class="fw-bold text-uppercase">NGƯỜI KÝ GIẤY CHỨNG NHẬN KẾT HÔN</div>
                <div class="fst-italic small">(Ký, ghi rõ họ tên, chức vụ, đóng dấu)</div>
                <div class="stamp-anchor position-relative mt-5" style="height: 100px;">
                </div>
            </div>
        </div>

    </div>
</div>